/* Change/add whichever style rules you want */
body {
	background-color: rgb(19, 0, 69);
	margin: 3%;
	color: white;
}
header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: rgb(187, 255, 196);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: -10px;
	margin-right: -10px;
	color: black
}
code {
	display: inline-block;
	padding: 10px;
	background-color: rgb(209, 188, 255);
	border: 1px solid grey;
	color: green;
}
form {
	background-color: rgb(255, 208, 188);
	padding: 10px;
	border-radius: 3em;
	width: 20%;
	text-align: center;
	margin: 10px;
	border: 1px solid white;
	color: black;
}